*{
    font-family:'Open sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
.container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; 
}
.container ul li{
    margin: 0 2rem;
}
.container ul li a{
    /* position: relative; */
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(252, 249, 249);
}
.container ul li:active a{
    background-color: #293038;
    color: crimson;
}

.container p i{
    color: black;
    font-weight: 700;
    margin-right: 20px;
}

.play-btn{
    width: 60px;
    position: absolute;
    left: 81%;
    top: 70%;
    transform: translate(-50%,-50%);
    cursor:pointer; 
    border-radius: 50%;
}
.video-player{
     /* display: flex; */
     width: 60%;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     display: none;
     /*width: 100%;
     max-width: 800px; */
     margin-top: 250px ;
 
}
video:focus{
    outline: none;
    border-radius: 10px;
}
.close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    cursor: pointer;
}

.buttons{
    border: #fff ;
}

/* Media Queries  */
@media (max-width:780px){
    .play-btn{
        width: 40px;
        position:absolute;
        height: 40px;
        top: 125em;
        left: 15em;
    }
}
